.container {
  width: 75%;
  position: relative;
}

.auth-card {
  text-align: center;
}

.auth-card .MuiCardContent-root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.decoration-image {
  position: absolute;
}

.decoration-image#left-decoration {
  left: 0;
  top: 15%;
  width: 130px;
  transform: translateX(-50%);
}

.decoration-image#right-decoration {
  right: 0;
  bottom: 15%;
  width: 65px;
  transform: translateX(50%);
}

.form-header {
  font-weight: 500;
}

.auth-card form {
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.logo-image {
  width: 75px;
  fill: var(--gray);
}

.form-input .MuiOutlinedInput-root {
  &.Mui-focused .MuiOutlinedInput-notchedOutline {
    border-color: var(--light-pink);
  }
}

.form-link {
  font-weight: bold;
}

.quote-text {
  color: var(--dark-pink);
  font-style: italic;
  font-weight: 600;
}