.jokes-list {
  margin: 20px 0 20px 20px;
}

.jokes-list > li {
  margin-bottom: 10px;
  padding: 2px;
}

.jokes-list > li:hover {
  background-color: #f7ebec;
}

.jokes-list > li:hover svg {
  color: var(--dark-pink);
}

.jokes-list .jokes-list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.remove-btn {
  background: none;
  border: none;
  cursor: pointer;
}

.remove-btn > svg {
  color: var(--gray);
  font-size: 1.4em;
}